<body>
    <div class="navBar">
        <app-navbar>
        </app-navbar>
    </div>
    <div class="buttons">
        <a href="" [ngStyle]="drdown" class="btn btn-outline-secondary btnStyle">Home</a>
        <a href="contacts" [ngStyle]="drdown" class="btn btn-outline-secondary btnStyle">Contacts</a>
        <a href="https://www.facebook.com/oasis.techgroup" [ngStyle]="drdown" class="btn btn-outline-secondary btnStyle">Facebook</a>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle btnStyle btnStyle2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
            <div class="dropdown-menu">
                <a class="dropdown-item dropTxt" href="products/0">Laptop</a>
                <a class="dropdown-item dropTxt" href="products/1">PC</a>
                <a class="dropdown-item dropTxt" href="products/2">Accessories</a>
                <a class="dropdown-item dropTxt" href="products/4">Servers</a>
                <a class="dropdown-item dropTxt" href="products/3">Spares</a>
            </div>
        </div>
    </div>
    <router-outlet>
    </router-outlet>

</body>