<div class="main" *ngIf="!loading">
    <div class="container">
        <div class="pHead">
            <h3>{{cat}} >> {{product.name}}</h3>
        </div>
        <div class="pBody">
            <div class="img">
                <img [src]="product.image">
            </div>
            <div class="description">
                <div [ngStyle]="style" class="details">
                    {{product.desc}}
                </div>
                <div class="price">
                    {{saleprice}} EGP
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <app-category>
        </app-category>
    </div>
</div>
<!--
    <app-category>
</app-category>
    <div class="total">
    <div class="image">
        <img [src]="product.image" class="img">
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <a href="#" class="btn btn-primary">{{product.price}}</a>
        </div>
    </div>
</div>
-->