<body>
    <div class="kcontainer">
        <div class="mainDev">
            <div class="bannerDiv">
                <app-banner [containerStyle]="navStyle"></app-banner>
            </div>
            <div class="discount">
                <app-discount></app-discount>
            </div>
            <div class="discount">
                <app-laptop></app-laptop>
            </div>
            <div class="discount">
                <app-pc></app-pc>
            </div>
        </div>
        <div class="kcategoryDiv">
            <div class="categoryDiv">
                <app-category class="category"></app-category>
            </div>
        </div>
    </div>
</body>