<body>
    <div class="list-group">
        <a class="list-group-item list-group-item-action text" [ngStyle]="style">
        Category
    </a>
        <a href="products/1" class="list-group-item list-group-item-action">
            <img class="categoryImage" src="../../../assets/img/categoryComponent/pc.png">
            <h1 class="categoryText">PC</h1>
        </a>
        <a href="products/0" class="list-group-item list-group-item-action">
            <img class="categoryImage" src="../../../assets/img/categoryComponent/laptop.png">
            <h1 class="categoryText">Laptop</h1>
        </a>
        <a href="products/2" class="list-group-item list-group-item-action">
            <img class="categoryImage" src="../../../assets/img/categoryComponent/acc.png">
            <h1 class="categoryText">Accessories</h1>
        </a>
        <a href="products/4" class="list-group-item list-group-item-action">
            <img class="categoryImage" src="../../../assets/img/categoryComponent/servers.png">
            <h1 class="categoryText">Servers</h1>
        </a>
        <a href="products/3" class="list-group-item list-group-item-action">
            <img class="categoryImage" src="../../../assets/img/categoryComponent/ram.png">
            <h1 class="categoryText">Spares</h1>
        </a>
        <!--
    <a href="products/Soon" class="list-group-item list-group-item-action">
        <img class="categoryImage" src="../../../assets/img/categoryComponent/soon.png">
        <h1 class="categoryText">Soon</h1>
    </a>
    -->
    </div>
</body>